@model P24MvcClient.Models.OnePageClientViewModel


    <div class="AccountParameter">
        <div class="AccountLabel">Merchant Id :</div>
        <div class = "AccountTextbox">@Html.TextBoxFor(x => x.P24.MerchantId, new { @Value = "1604" })</div>
    </div>
    <div class="AccountParameter">
        <div class="AccountLabel">Pos Id :</div>
        <div class = "AccountTextbox">@Html.TextBoxFor(x => x.P24.PosId, new { @Value = "1604" })</div>
    </div>
    <div class="AccountParameter">
        <div class="AccountLabel">Crc Key : </div>
        <div class = "AccountTextbox">@Html.TextBoxFor(x => x.P24.CrcKey, new { @Value = "4aca0b5e3950f78b"})</div>
    </div>
    <div class="AccountParameter">
        <div class="AccountLabel">Mode :</div>
        <div>
            @Html.DropDownListFor(
            x => x.P24.SandboxMode,
                new[]
                {
                    new SelectListItem(){ Text = "Sandbox", Value = bool.TrueString },
                    new SelectListItem(){ Text = "Secure", Value = bool.FalseString, Selected = true }
                }
            )
        </div>
    </div>
    <div class="AccountParameter">
        <div class="AccountLabel">Automatic redirection :</div>
        <div>
            @Html.DropDownListFor(
            x => x.P24.AutomaticRedirection,
                new[]
                {
                    new SelectListItem(){ Text = "Yes", Value = bool.TrueString, Selected = true },
                    new SelectListItem(){ Text = "No", Value = bool.FalseString }
                }
            )
        </div>
    </div>
<div>
    <input type="submit" name="TestButton" value="Test" class="Button" />
</div>
